<!-- OLD VOLCANO  -->

<div class="container">

<form action ="/user/<%= @single_user.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="">Name</label>
  <input type="text" name="name" value="<%= @single_user.name %>">

  <label for="">Image Url<label>
  <input type="text" name="image_url" value="<%= @single_volcanoe.image_url %>">

  <label for "">Height</label>
  <input type="text" name="height" value="<%= @single_volcanoe.height %>">

  <label for "">Status</label>
  <input type="text" name="status" value="<%= @single_volcanoe.status %>">


 <label>Volcano Region</label>
  <select class="browser-default" name="volcanoe_region_id" id="">
    <!-- <option value="" disabled selected>Choose the region</option> -->
    <% @volcanoe_regions.each do |volcanoe_region| %>
    
    <% if volcanoe_region.id == @single_volcanoe.volcanoe_region_id %>

    <option value="<%= volcanoe_region.id %>" selected><%= volcanoe_region.name %></option>
    <% else %>
    <option value="<%= volcanoe_region.id %>">
      <%= volcanoe_region.name %>
    </option>
    <% end %>
    <% end %>
  </select>


  <button class="btn waves-effect waves-light orange darken-4"> Update Volcanoe </button>

</form>
</div>
</div>