<!-- Single profile page  -->
<!-- NAVIGATION WITH HAMBURGER -->
<nav class="blue-grey darken-3 z-depth-2">
  <div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="nav-wrapper z-depth-1">
                  <a href="/" class="brand-logo">The UnConditioner</a>
                  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                      <ul class="right hide-on-med-and-down">
                        <li><a href="/topics">Topics</a></li>
                        <li><a href="/leaderboard">Leaderboard</a></li>
                    <% if logged_in? %>
                        <li><a href="/users/<%= current_user.id%>">Logged In As: <%= current_user.email %> </li></a>
                        <li><form action = "/session" method="post">
                          <input type="hidden" value="delete" name="_method">
                          <button>Logout</button>  
                          </form></li>
                    <% else %>
                        <li><a href="/users/new">Sign Up</a></li>
                        <li><a href="/session/new">Login</a></li>
                    <%end%>
                      </ul>
                      <ul class="side-nav" id="mobile-demo">
                        <li><a href="/topics">Topics</a></li>
                        <li><a href="/leaderboard">Leaderboard</a></li>
                    <% if logged_in? %>
                        <li> <a href="/users/<%= current_user.id%>">Logged In As: <%= current_user.email %> </li>
                        </a>
                        <li><form action = "/session" method="post">
                        <input type="hidden" value="delete" name="_method">
                        <button>Logout</button>  
                        </form></li>
                    <% else %>
                        <li><a href="/users/new">Sign Up</a></li>
                        <li><a href="/session/new">Login</a></li>
                    <%end%>
                      </ul>
                </div>
               </div>
            </div>
      </div>
</nav>



<div class="container">
  <div class="extrapadding">
    <div class="row">
      <div class="col s12">
        <div class="card-panel blue-grey lighten-5 z-depth-2">
      <h4>Profile</h4>
      <div class="divider"></div>
        <div class="section">
          <h5>Username: </h5><%= @single_user.email %>
        </div>
        <div class="divider"></div>
        <div class="section">
          <h5>UnConditioning Sessions</h5>
          <% @topics.each do |topic| %>
  
              <p><li><%= topic["name"] %></li></p>
    <% end %>
        </div>
            </div>
            </div>
            </div>    
</div>
            </div>  
