<!-- NAVIGATION WITH HAMBURGER -->
<div class="topicbody">
<nav class="blue-grey darken-3 z-depth-2">
  <div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="nav-wrapper z-depth-1">
                  <a href="/" class="brand-logo"><img src="<%= @single_topic.image_url %>"><%= @single_topic.name %></a>
                  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                      <ul class="right hide-on-med-and-down">
                    <% if logged_in? %>
                        <li><a href="/users/<%= current_user.id%>">Logged In As: <%= current_user.email %> </li></a>
                    <% else %>
                        <li><a href="/users/new">Sign Up</a></li>
                        <li><a href="/session/new">Login</a></li>
                    <%end%>
                      </ul>
                      <ul class="side-nav" id="mobile-demo">
                        <% if logged_in? %>
                        <li><a href="/users/<%= current_user.id%>">Logged In As: <%= current_user.email %> </li></a>
                    <% else %>
                        <li><a href="/users/new">Sign Up</a></li>
                        <li><a href="/session/new">Login</a></li>
                    <%end%>
                      </ul>
                </div>
               </div>
            </div>
      </div>
</nav>

<div class="container">
  <div class="extrapadding">
    <div class="row">
      <div class="col s12">
        <div class="card blue-grey darken-3 sliderpadding">
          <div class="card-content">

<!-- !!!!! -->
<!-- FLICKITY SLIDER -->
<!-- !!!!! -->

  <div class="topic js-flickity" data-flickity-options='{ "wrapAround": false, "autoPlay": 1000, "pageDots": false, "initialIndex": 1, "accessibility": false, "prevNextButtons": false, "selectedAttraction": 0.2, "friction": 0.8 }'>
    

        <% @cards.each do |card| %>
        <div class="card_slider">
        <img src="<%= card.image_url %>" height="277" width="400" alt="MSPaint Image">
        <h4 class="card-text white-text center"><%= card.text_msg %></h4>
      </div>
      <% end %>

<!--     THE COMPLETE CARD WITH COMPLETE TOPIC SUBMIT -->

      <div class="card_slider">
        <img src="http://cdn.makeagif.com/media/4-21-2016/NWaeUN.gif" height="277" width="400" alt="Finished!">

              <form action="/completes" method="post">  
                <input type="hidden" value="<%= @single_topic.id %>" name="topic_id">
                <button class="btn waves-effect waves-light blue-grey lighten-1" type="submit">Finished UnConditioning </button>
                </form>

      </div>
    </div>
    </div>
  </div>
</div>
</div>
</div>
</div>